<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homeStyles.css">
    <title>Welcome User</title>
</head>
<body>
    <div class="navbar">
        <div class="nav-wrapper">
            <svg width="70" height="70" viewBox="0 0 156 123" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.32254 103.927V15C3.32254 8.92486 8.24741 4 14.3225 4H141C147.075 4 152 8.92487 152 15V108C152 114.075 147.075 119 141 119H3" stroke="#2B8615" stroke-width="6.4"/>
                <path d="M50.5 33C50.5 40.8754 43.697 47.5 35 47.5C26.303 47.5 19.5 40.8754 19.5 33C19.5 25.1246 26.303 18.5 35 18.5C43.697 18.5 50.5 25.1246 50.5 33Z" stroke="#2B8615" stroke-width="5"/>
                <line x1="61" y1="60" x2="132" y2="60" stroke="#2B8615" stroke-width="4"/>
                <line x1="61" y1="79" x2="132" y2="79" stroke="#2B8615" stroke-width="4"/>
                <line x1="61" y1="98" x2="132" y2="98" stroke="#2B8615" stroke-width="4"/>
                <circle cx="3.5" cy="104.5" r="3.5" fill="#2B8615"/>
                <circle cx="3.5" cy="118.5" r="3.5" fill="#2B8615"/>
            </svg>
            <p style="padding:15px;font-size: 24px;">Welcome <%= username %></p>
        </div>
        <button><a href="/logout">Logout</a></button>
    </div>
    <div class="content">
        <form action="/transfer" method="post" class="card" id='sendmoney'>
            <input type="hidden" id="curUser" value='<%= username %>'>
            <h3>Send money</h3>
            <input type="text" name="userId" id="userId" placeholder="Username">
            <input type="number" name="amount" id="amount" placeholder="Amount">
            <button type="submit">Send</button>
            <div id="error"></div>
        </form>
        <form action="/add" method="post" class="card">
            <h3>Wallet</h3>
            <p style="text-align: center; font-size: 24px;" id="maxamount"><%= money %></p>
            <h4>Add money:</h4>
            <input type="number" name="amount" placeholder="Enter amount to be added">
            <button type="submit">Add</button>
        </form>
    </div>
    <script src="/js/home.js"></script>
</body>
</html>